.group-create-form .ant-input:hover,
.group-create-form .ant-input:focus {
  border-color: var(--breand-rang-2) !important;
  box-shadow: none !important;
  background: transparent !important;
  outline: none !important;
}

.group-create-form .ant-form-item {
  margin: 0 !important;
}
.group-create-form .ant-form-item-label {
  padding-bottom: 5px !important;
}
